@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    width: 250px;
    height: 100vh;
    background-color: #191551;
    color: #fff;
    position: fixed;
    left: -250px;
    transition: left 0.3s ease;
    z-index: 999999;
}

.menu-items {
    list-style: none;
    padding: 10px;
}

.menu-items li {
    padding: 15px;
    cursor: pointer;
    vertical-align: middle;
}
.menu-items li:hover {
    color: rgb(195, 201, 206);
}
.lateral-img{
    filter: invert();
    width: 2rem;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.redes-2{
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 3%;
}
.redes-2 a img{
    width: 2rem;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.redes-2 a img:hover{
    filter: blur(1px);
}
.content {
    margin-left: 250px;
    padding: 20px;
}

.toggle-btn {
    position: absolute;
    left: 280px;
    top: 20px;
    font-size: 20px;
    background: #0c0a28;
    border: 2px solid #fff;
    padding: 7px 10px 7px 10px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.toggle-btn:focus {
    outline: none;
}
nav{
    background-color: #0b0925;
    width: 98%;
    margin: 5px;
    padding: 5px;
    text-align: center;
}   
nav img{
    height: 100px;
    border-radius: 50%;
}
nav h1{
    display: inline;
    position: absolute;
    top: 20px;
}
.contenedor{
    width: 100%;
    height: auto;
    /* padding: 10px; */
}
.content-s{
    width: 90%;
    height: auto;
    padding: 10px;
    text-align: center;
}
.scroll-container {
    width: 90%;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #08061a;
}

.scroll-content {
    display: inline-block;
}

body::-webkit-scrollbar{
    background-color: #1d0746;
    width: 5px;
}
body::-webkit-scrollbar-thumb{
background: rgb(0, 17, 172);
border-radius: 20px;
}

.scroll-container::-webkit-scrollbar{
    background-color: #0e0b29;
    width: 5px;
}
.scroll-container::-webkit-scrollbar-thumb{
background: rgb(26, 7, 131);
border-radius: 10px;
}

header{
    width: 50%;
    height: 150px;
    margin-left: 25%;
    margin-bottom: 10px;
}
header img{
    width: 150px;
    border-radius: 50%;
    display: inline;
    vertical-align: middle;
    margin-right: 15px;
}
header h1{
    display: inline-block;
}
.jogos{
    text-align: center;
    width: 100%;
    margin-left: 7%;
}

.juego{
    color: white;
    background-color: #0c0a28;
    border: 2px solid #00d9ff;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    overflow: hidden;
}
.juego a{
    text-decoration: none;
    color: beige;
    display: flex;
}
.juego main{
    text-decoration: none;
    color: beige;
    display: flex;
}
.juego b{
    font-size: 1.4rem;
    margin: 4px;
    height: 20px;
    width: 80%;
    font-weight: 500;
}
.juego p{
    height: 10px;
}
.img-juego{
        height: 100px;
        display: inline;
        border-radius: 10px;
        max-width: 100%;
        width: auto;
}